.password-card {
    &:hover {
        background-color: lightgray;
        border-radius: 20px;
    }
    padding: 10px;
    text-align: center;

    border-bottom: 1px solid #b7babb;
    border-color: #b7babb;
    cursor: pointer;
}