@use "../../variables.scss" as *;

.header {
    padding-top: 48px;

    background-color: $bg-general;

    .header-text {
        width: 100%;
        height: 64px;

        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .options {
        height: 64px;
        background-color: aquamarine;
        padding-right: 48px;
        padding-left: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .ajout-option {
            background-color: #f0f0f0;
            color: #000;
            width: 120px;
            height: 54px;
            cursor: pointer;
            border-radius: 8px;
            border-width: 0;
            font-size: large;
            display: inherit;

            justify-content: center;
            align-items: center;

            &:hover {
                background-color: darken(#f0f0f0, 10%);
            }

            img {
                width: 32px;
                height: 32px;
                padding-right: 12px;
            }
        }

        .filtre-option {
            background-color: #f0f0f0;
            color: #000;
            width: 120px;
            height: 54px;
            cursor: pointer;
            border-radius: 8px;
            border-width: 0;
            font-size: large;
            display: inherit;
            margin-left: 16px;

            justify-content: center;
            align-items: center;

            &:hover {
                background-color: darken(#f0f0f0, 10%);
            }

            img {
                width: 32px;
                height: 32px;
                padding-right: 12px;
            }
        }
    }

    .options-milieu {
        flex-grow: 1;
        background-color: palevioletred;
    }

    p {
        font-size: xx-large;
        font-weight: 700;
    }
}

.password-body {
    display: flex;
    flex-grow: 1;
    margin-top: 8px;
    
    max-height: calc(100vh - 200px);
    
    .password-content {
        width: 100%;
        margin: 0 24px;
        flex-grow: 1;
        scroll-behavior: smooth;
        overflow: auto;
    }
}

#confirmation-modification {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: rgba($color: gray, $alpha: 0.3);
}