@use "@/variables.scss" as *;

.password-ajout {
    min-width: 550px;
    height: calc(100% - 16px);
    border-radius: 16px 16px 0px 0px;
    padding: 8px 4px;
    
    box-shadow: 0px 4px 24px rgba(0, 0, 0, .15);

    .password-ajout-header  {
        padding: 32px 32px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;

        h1 {
            flex-grow: 1;
            text-align: center;
        }

        .actions {
            display: inline-flex;
            align-items: center;

            button {
                background-color: #f0f0f0;
                color: #000;
                width: 36px;
                height: 36px;
                cursor: pointer;
                border-radius: 8px;
                border-width: 0;

                &:hover {
                    background-color: darken(#f0f0f0, 10%);
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .icon-fermer {
            width: 32px;
            height: 32px;

            margin: 0 0 0 12px;
            cursor: pointer;
    
            &:hover {
                background-color: darken(#fff, 10%);
                border-radius: 12px;
            }
        }
    }

    .password-ajout-contenu {
        padding: 0 24px;
        
        .ajout-titre {
            padding-bottom: 16px;

            p {
                margin: 0;
                font-size: small;
                color: rgb(167, 167, 167);
                padding-top: 6px;
            }

            .titre {
                color: #000;
                font-size: larger;
                font-weight: 600;
            }
        }

        .ajout-champs {
            margin-top: 20px;

            label {
                font-size: medium;
                color: rgb(180, 180, 180);
                display: block;
                font-size: 14px;
                margin-top: 10px;
                padding-bottom: 6px;

                &.erreur {
                    color: $form-error-text-color;
                }
            }

            .ajout-text {
                text-overflow: ellipsis;
                line-height: 24px;
                white-space: pre-wrap;
                border: 0px;
                border-bottom: 1px solid #b7babb;
                padding: 4px;

                overflow: hidden;

                position: relative;

                width: 100%;

                resize: none;

                &.erreur {
                    border-color: $form-error-text-color;
                    background-color: $form-error-input-color;
                    outline-color: $form-error-text-color;
                }
            }
        }

        .ajout-bouton {
            padding: 16px 0;
            display: flex;
            justify-content: center;
            
            button {
                width: 260px;
                height: 48px;
                margin: 0px 8px 12px 8px;
                cursor: pointer;
                border-radius: 8px;
                border-width: 0;
                background-color: rgb(75, 210, 75);
            }
        }
    }
}

@media (min-width: 601px) {
    .password-ajout {
        min-width: 250px;
    }
}

@media (min-width: 901px) {
    .password-ajout {
        min-width: 350px;
    }
}

@media (min-width: 1251px) {
    .password-ajout {
        min-width: 500px;
    }
}

@media (min-width: 1601px) {
    .password-ajout {
        min-width: 600px;
    }
}