.password-detail {
    // min-width: 550px;
    height: calc(100% - 16px);
    border-radius: 16px 16px 0px 0px;
    padding: 8px 4px;
    
    box-shadow: 0px 4px 24px rgba(0, 0, 0, .15);

    .password-detail-header  {
        padding: 32px 32px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;

        h1 {
            flex-grow: 1;
            text-align: center;
        }

        .actions {
            display: inline-flex;
            align-items: center;

            .action {
                padding-left: 8px;
                
                button {
                    background-color: #f0f0f0;
                    color: #000;
                    width: 36px;
                    height: 36px;
                    cursor: pointer;
                    border-radius: 8px;
                    border-width: 0;
                    
                    &:hover {
                        background-color: darken(#f0f0f0, 10%);
                    }
                    
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .icon-fermer {
            width: 32px;
            height: 32px;

            margin: 0 0 0 12px;
            cursor: pointer;
    
            &:hover {
                background-color: darken(#fff, 10%);
                border-radius: 12px;
            }
        }
    }

    .password-detail-contenu {
        padding: 0 24px;
        
        .detail-titre {
            padding-bottom: 16px;

            p {
                margin: 0;
                font-size: small;
                color: rgb(167, 167, 167);
            }

            .titre {
                color: #000;
                font-size: larger;
                font-weight: 600;
            }
        }

        .detail-champs {
            margin-top: 20px;

            label {
                font-size: medium;
                color: rgb(180, 180, 180);
                display: block;
                font-size: 14px;
                margin-top: 10px;
            }

            .detail-champs-text {
                display: flex;

                .detail-icon-cache {
                    display: flex;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }

            .detail-champs-text .detail-text {
                text-overflow: ellipsis;
                cursor: pointer;
                line-height: 24px;
                white-space: pre-wrap;
                border-color: #b7babb;;
                padding: 8px 0;
                box-shadow: inset 0 -1px 0 0 #ddd;

                overflow: hidden;

                position: relative;

                width: 100%;

                .icon-copy {
                    position: absolute;
                    top: 4px;
                    right: 0;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-size: 17px;
                    opacity: 0;
                    text-align: center;
                    background: #fff;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, .25);
                    border-radius: 8px;
                    flex: 0 0 auto;
                    align-self: center;

                    .icon-copy-image {
                        width: 24px;
                        height: 24px;
                        box-sizing: border-box;
                        margin: 0;
                    }
                }

                &:hover .icon-copy {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 601px) {
    .password-detail {
        min-width: 250px;
    }
}

@media (min-width: 901px) {
    .password-detail {
        min-width: 350px;
    }
}

@media (min-width: 1251px) {
    .password-detail {
        min-width: 500px;
    }
}

@media (min-width: 1601px) {
    .password-detail {
        min-width: 600px;
    }
}