// Authentification
$auth-bg-color: #5D737E;
$auth-form-bg-color: #8BA6A9;
$auth-button-bg-color: #5D737E;
$auth-button-bg-color-darken: #546871;
$auth-button-bg-color-actif: #4d8097;

$form-error-input-color: #ffe6e6;
$form-error-outline-color: #f87171;
$form-error-text-color: #f87171;

// Dashboard Page

// White mode
$bg-general: #fff;
$bg-sidenav: #191919;

$text-general: black;
$text-sidenav: #fff;

$text-link: #dddada;
$text-icon-link: invert(70%) sepia(99%) saturate(5%) hue-rotate(76deg) brightness(104%) contrast(97%);

$text-link-active: #71c93f;

$theme-accent: #8b5cf6;
$active-color: #3b82f6;

$theme-color: #52b3d0;